<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ transaction ? 'Edit Transaction' : 'Create Transaction' }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="transactionForm" (ngSubmit)="saveTransaction()">
      <div class="form-container">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" />
          @if (transactionForm.get('description')?.invalid && transactionForm.get('description')?.touched) {
            <mat-error>
              Description is required.
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Amount</mat-label>
          <input matInput formControlName="amount" type="number" />
          @if (transactionForm.get('amount')?.invalid && transactionForm.get('amount')?.touched) {
            <mat-error>
              Amount is required and must be a valid number.
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Category</mat-label>
          <input matInput formControlName="category" />
          @if (transactionForm.get('category')?.invalid && transactionForm.get('category')?.touched) {
            <mat-error>
              Category is required.
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          @if (transactionForm.get('date')?.invalid && transactionForm.get('date')?.touched) {
            <mat-error>
              Date is required.
            </mat-error>
          }
        </mat-form-field>
      </div>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="transactionForm.invalid">
          <mat-icon>save</mat-icon>
          Save
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
