<div class="register-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        @if (errorMessage()) {
        <div class="error-message">
          {{ errorMessage() }}
        </div>
        }

        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput [field]="registerForm.name" placeholder="Enter your name">
          @if (registerForm.name().invalid() && registerForm.name().touched()) {
          @for( error of registerForm.name().errors(); track error){
          <mat-error>
            {{ error.message}}
          </mat-error>
          }
          }
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput [field]="registerForm.email" placeholder="Enter your email">
          @if (registerForm.email().invalid() && registerForm.email().touched()) {
          @for( error of registerForm.email().errors(); track error){
          <mat-error>
            {{ error.message}}
          </mat-error>
          }
          }
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput [field]="registerForm.password" type="password" placeholder="Enter your password">
          @if (registerForm.password().invalid() && registerForm.password().touched()) {
          @for( error of registerForm.password().errors(); track error){
          <mat-error>
            {{ error.message}}
          </mat-error>
          }
          }
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input matInput [field]="registerForm.confirmPassword" type="password" placeholder="Confirm your password">
          @if (registerForm.confirmPassword().invalid() && registerForm.confirmPassword().touched()) {
          @for( error of registerForm.confirmPassword().errors(); track error){
          <mat-error>
            {{ error.message}}
          </mat-error>
          }
          }
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Mobile Number</mat-label>
          <input matInput [field]="registerForm.mobileNumber" placeholder="Enter your mobile number">
        </mat-form-field>

        <button mat-raised-button color="primary" type="button" (click)="onSubmit()"
          [disabled]="!registerForm().valid() || isLoading()">
          @if (isLoading()) {
          <mat-spinner diameter="20"></mat-spinner>
          <span>Registering...</span>
          } @else {
          <span>Register</span>
          }
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>